{% extends "base.html" %}
{% block title %}Список скінів{% endblock %}

{% block content %}
<div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Список скінів</h1>

    {% if user.is_authenticated %}
    <a href="{% url 'shop:skin_create' %}" class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-lg">
        Додати скін
    </a>
    {% endif %}
</div>

<!-- GRID -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">

    {% for skin in skins %}
    <div class="relative bg-gray-800 rounded-xl shadow-lg overflow-hidden">

        <!-- Видалення (хрестик) -->
        {% if user.is_authenticated %}
        <a href="{% url 'shop:skin_delete' skin.slug %}"
            class="absolute top-2 right-2 text-red-400 hover:text-red-600 text-2xl font-bold">
            ×
        </a>
        {% endif %}

        <!-- Зображення -->
        <a href="{% url 'shop:skin_detail' skin.slug %}">
            <img src="{{ skin.image.url }}" alt="{{ skin.name }}" class="w-full h-48 object-cover">
        </a>

        <div class="p-4">
            <h2 class="text-xl font-semibold">
                <a href="{% url 'shop:skin_detail' skin.slug %}">
                    {{ skin.name }}
                </a>
            </h2>

            <p class="text-gray-400 text-sm mt-2">
                {{ skin.short_description }}
            </p>

            <p class="text-lg font-bold mt-3 text-minecraft-green">
                {{ skin.price }} грн
            </p>

            <!-- Купити -->
            <form hx-post="{% url 'cart:add' %}" hx-target="#cart-icon" hx-swap="innerHTML" class="mt-4">
                {% csrf_token %}
                <input type="hidden" name="skin_id" value="{{ skin.id }}">
                <input type="hidden" name="quantity" value="1">
                <button type="submit"
                    class="w-full bg-minecraft-green text-black font-semibold py-2 rounded-lg hover:bg-green-400">
                    Купити
                </button>
            </form>



            {% if user.is_authenticated %}
            <a href="{% url 'shop:skin_update' skin.slug %}"
                class="block mt-2 text-center bg-blue-600 hover:bg-blue-700 text-white py-2 rounded-lg">
                Редагувати
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}